#quiz {
	width: 100%;
}

header, section {
	margin: 0 auto;
	width: 940px;
	padding: 10px;
}

strong {
	letter-spacing: 5px;
}

.questions-list {
	width: 600px;
}

/* HIGHTLY YOUR ANSWER TO QUESTION #1 HERE */


/* HIGHTLY YOUR ANSWER TO QUESTION #2 HERE */


/* HIGHTLY YOUR ANSWER TO QUESTION #3 HERE */


/* HIGHTLY YOUR ANSWER TO QUESTION #4 HERE */


/* HIGHTLY YOUR ANSWER TO QUESTION #5 HERE */

