/* GENERAL STYLING */

#quiz {
	width: 100%;
}

header, section {
	margin: 0 auto;
	width: 940px;
	padding: 10px;
}

strong {
	margin: 0 3px;
}

.questions-list {
	width: 600px;
}

/* ======================================= */

/* ENTER YOUR ANSWER TO QUESTION #1 HERE */


/* ENTER YOUR ANSWER TO QUESTION #2 HERE */


/* ENTER YOUR ANSWER TO QUESTION #3 HERE */


/* ENTER YOUR ANSWER TO QUESTION #4 HERE */


/* ENTER YOUR ANSWER TO QUESTION #5 HERE */

